:root {
  --main-bg-color: black;
  --main-color: white;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  background-image: url(assets/sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* button {
  border: 1px solid white;
  background-color: var(--main-bg-color);
  color: var(--main-color);
} */
